In [1]:
import pandas as pd
import numpy as np

In [2]:
## Input Data Set

In [3]:
df=pd.read_csv("data.csv")

In [4]:
df

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
578,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,40,Male,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,Male,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,Male,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,Male,1.0,0.3,216,21,24,7.3,4.4,1.50,2

## pre-processing  data

In [5]:
Y =df["Dataset"]
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: Dataset, dtype: int64

In [6]:
df =df.drop("Dataset",axis=1)
df.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40

## Gender Column Pre-process

In [7]:
df_2 = pd.get_dummies(df, columns=["Gender"], drop_first=False)
df_2

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Gender_Female,Gender_Male
0,65,0.7,0.1,187,16,18,6.8,3.3,0.90,1,0
1,62,10.9,5.5,699,64,100,7.5,3.2,0.74,0,1
2,62,7.3,4.1,490,60,68,7.0,3.3,0.89,0,1
3,58,1.0,0.4,182,14,20,6.8,3.4,1.00,0,1
4,72,3.9,2.0,195,27,59,7.3,2.4,0.40,0,1
...,...,...,...,...,...,...,...,...,...,...,...
578,60,0.5,0.1,500,20,34,5.9,1.6,0.37,0,1
579,40,0.6,0.1,98,35,31,6.0,3.2,1.10,0,1
580,52,0.8,0.2,245,48,49,6.4,3.2,1.00,0,1
581,31,1.3,0.5,184,29,32,6.8,3.4,1.00,0,1
582,38,1.0,0.3,216,21,24,7.3,4.4,1.50,0,1

In [8]:
from sklearn import preprocessing

X = df_2.values

min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(X)
df = pd.DataFrame(x_scaled)
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,0.709302,0.004021,0.000000,0.060576,0.003015,0.001626,0.594203,0.521739,0.240,1.0,0.0
1,0.674419,0.140751,0.275510,0.310699,0.027136,0.018296,0.695652,0.500000,0.176,0.0,1.0
2,0.674419,0.092493,0.204082,0.208598,0.025126,0.011791,0.623188,0.521739,0.236,0.0,1.0
3,0.627907,0.008043,0.015306,0.058134,0.002010,0.002033,0.594203,0.543478,0.280,0.0,1.0
4,0.790698,0.046917,0.096939,0.064485,0.008543,0.009961,0.666667,0.326087,0.040,0.0,1.0

In [9]:
df.fillna(df.mean(), inplace=True)
df

,0,1,2,3,4,5,6,7,8,9,10
0,0.709302,0.004021,0.000000,0.060576,0.003015,0.001626,0.594203,0.521739,0.240,1.0,0.0
1,0.674419,0.140751,0.275510,0.310699,0.027136,0.018296,0.695652,0.500000,0.176,0.0,1.0
2,0.674419,0.092493,0.204082,0.208598,0.025126,0.011791,0.623188,0.521739,0.236,0.0,1.0
3,0.627907,0.008043,0.015306,0.058134,0.002010,0.002033,0.594203,0.543478,0.280,0.0,1.0
4,0.790698,0.046917,0.096939,0.064485,0.008543,0.009961,0.666667,0.326087,0.040,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
578,0.651163,0.001340,0.000000,0.213483,0.005025,0.004879,0.463768,0.152174,0.028,0.0,1.0
579,0.418605,0.002681,0.000000,0.017098,0.012563,0.004269,0.478261,0.500000,0.320,0.0,1.0
580,0.558140,0.005362,0.005102,0.088911,0.019095,0.007928,0.536232,0.500000,0.280,0.0,1.0
581,0.313953,0.012064,0.020408,0.059111,0.009548,0.004472,0.594203,0.543478,0.280,0.0,1.0
582,0.395349,0.008043,0.010204,0.074744,0.005528,0.002846,0.666667,0.760870,0.480,0.0,1.0

In [10]:
!pip install pydotplus

Requirement already satisfied: pydotplus in c:\users\asus\miniconda3\envs\tensorflow\lib\site-packages (2.0.2)
Requirement already satisfied: pyparsing>=2.0.1 in c:\users\asus\miniconda3\envs\tensorflow\lib\site-packages (from pydotplus) (2.4.7)

ERROR: Error checking for conflicts.
Traceback (most recent call last):
  File "C:\Users\ASUS\miniconda3\envs\tensorflow\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 3021, in _dep_map
    return self.__dep_map
  File "C:\Users\ASUS\miniconda3\envs\tensorflow\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 2815, in __getattr__
    raise AttributeError(attr)
AttributeError: _DistInfoDistribution__dep_map

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\ASUS\miniconda3\envs\tensorflow\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 3012, in _parsed_pkg_info
    return self._pkg_info
  File "C:\Users\ASUS\miniconda3\envs\tensorflow\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 2815, in __getattr__
    raise AttributeError(attr)
AttributeError: _pkg_info

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\ASUS\miniconda3\envs\tensorflow\lib\site-packages\pip\_internal\commands\install.py", line 512, in _warn_about_conflicts
    package_set, _dep_info = check_install_conflicts(to_install)
  File "C:\Users\ASUS\miniconda3\envs\tensorflow\lib\site-packages\pip\_internal\operations\check.py", line 114, in check_install_conflicts
    package_set, _ = create_package_set_from_installed()
  File "C:\Users\ASUS\miniconda3\envs\tensorflow\lib\site-packages\pip\_internal\operations\check.py", line 53, in create_package_set_from_installed
    package_set[name] = PackageDetails(dist.version, dist.requires())
  File "C:\Users\ASUS\miniconda3\envs\tensorflow\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 2736, in requires
    dm = self._dep_map
  File "C:\Users\ASUS\miniconda3\envs\tensorflow\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 3023, in _dep_map
    self.__dep_map = self._compute_dependencies()
  File "C:\Users\ASUS\miniconda3\envs\tensorflow\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 3032, in _compute_dependencies
    for req in self._parsed_pkg_info.get_all('Requires-Dist') or []:
  File "C:\Users\ASUS\miniconda3\envs\tensorflow\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 3014, in _parsed_pkg_info
    metadata = self.get_metadata(self.PKG_INFO)
  File "C:\Users\ASUS\miniconda3\envs\tensorflow\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 1420, in get_metadata
    value = self._get(path)
  File "C:\Users\ASUS\miniconda3\envs\tensorflow\lib\site-packages\pip\_vendor\pkg_resources\__init__.py", line 1616, in _get
    with open(path, 'rb') as stream:
FileNotFoundError: [Errno 2] No such file or directory: 'c:\\users\\asus\\miniconda3\\envs\\tensorflow\\lib\\site-packages\\numpy-1.19.0.dist-info\\METADATA'

In [11]:
import numpy as np
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(df,Y, test_size=0.30, random_state=42)
print((X_train.shape))
X_train

(408, 11)

,0,1,2,3,4,5,6,7,8,9,10
519,0.360465,0.347185,0.612245,0.021983,0.079397,0.126042,0.942029,0.239130,0.00,0.0,1.0
536,0.488372,0.206434,0.362245,0.080117,0.028643,0.042692,0.608696,0.369565,0.12,0.0,1.0
531,0.418605,0.407507,0.928571,0.108451,0.050251,0.035780,0.753623,0.391304,0.08,0.0,1.0
380,0.534884,0.017426,0.035714,0.130923,0.013065,0.008742,0.666667,0.543478,0.24,0.0,1.0
550,0.488372,0.038874,0.071429,0.053249,0.007538,0.006302,0.420290,0.326087,0.16,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
71,0.825581,0.005362,0.005102,0.061065,0.005025,0.003863,0.246377,0.195652,0.12,1.0,0.0
106,0.372093,0.065684,0.112245,0.040059,0.011055,0.016670,0.347826,0.369565,0.28,0.0,1.0
270,0.383721,0.004021,0.005102,0.084025,0.043216,0.008945,0.985507,0.869565,0.28,0.0,1.0
435,0.151163,0.001340,0.000000,0.069858,0.009045,0.002236,0.637681,0.782609,0.56,1.0,0.0
102,0.151163,0.006702,0.005102,0.078652,0.013065,0.007115,0.608696,0.717391,0.50,0.0,1.0

In [12]:
##Decisiontree classifier using gini impurity (CART model)

In [13]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import accuracy_score
clf = DecisionTreeClassifier()
clf = clf.fit(X_train, Y_train)
Y_pred = clf.predict(X_test)
asc=accuracy_score(Y_test, Y_pred)
mse=mean_squared_error(Y_test, Y_pred)
rmse=sqrt(mse)
print(asc,mse,rmse)

fit_accuracy = clf.score(X_train, Y_train)
test_accuracy = clf.score(X_test, Y_test)
    
print(f"Train accuracy: {fit_accuracy:0.2%}")
print(f"Test accuracy: {test_accuracy:0.2%}")

0.7028571428571428 0.29714285714285715 0.5451081150953975
Train accuracy: 100.00%
Test accuracy: 70.29%

In [14]:
##print CART tree diagram

In [15]:
from sklearn.externals.six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz
import pydotplus
dot_data = StringIO()
export_graphviz(clf, out_file=dot_data, filled=True, rounded=True, feature_names=df.columns, special_characters=True)
graph=pydotplus.graph_from_dot_data(dot_data.getvalue())
Image( graph.create_png())

ModuleNotFoundError: No module named 'sklearn.externals.six'

In [ ]:
##Decisiontree classifier using entropy (ID3 model)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import accuracy_score
clf = DecisionTreeClassifier(criterion ="entropy")
clf = clf.fit(X_train, Y_train)
Y_pred = clf.predict(X_test)
asc=accuracy_score(Y_test, Y_pred)
mse=mean_squared_error(Y_test, Y_pred)
rmse=sqrt(mse)
print(asc,mse,rmse)
fit_accuracy = clf.score(X_train, Y_train)
test_accuracy = clf.score(X_test, Y_test)
    
print(f"Train accuracy: {fit_accuracy:0.2%}")
print(f"Test accuracy: {test_accuracy:0.2%}")

In [ ]:
##Neural network

In [ ]:
#from numpy import loadtxt
#from keras.models import Sequential
#from keras.layers import Dense

In [ ]:
#model = Sequential()
#model.add(Dense(11, input_shape = (11,)))
#model.add(Dense(8, activation = 'relu'))
#model.add(Dense(1, activation = 'sigmoid'))

#model.compile(loss='binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])
#model.fit(X_train, Y_train, epochs=150, batch_size=10)

In [ ]:
##LogisticRegression

In [ ]:
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(random_state=0, solver='lbfgs', multi_class = 'multinomial').fit(X_train, Y_train)
yPred = clf.predict(X_test)
accuracy_score(Y_test, yPred)
asc = accuracy_score(Y_test, yPred)
mse = mean_squared_error(Y_test, yPred)
rmse = sqrt(mse)
print(asc, mse, rmse)
clf.score(X_test, Y_test)
fit_accuracy = clf.score(X_train, Y_train)
test_accuracy = clf.score(X_test, Y_test)
    
print(f"Train accuracy: {fit_accuracy:0.2%}")
print(f"Test accuracy: {test_accuracy:0.2%}")

In [ ]:
##Random forest

In [16]:
from sklearn.ensemble import RandomForestClassifier
from math import sqrt 
from sklearn.metrics import mean_squared_error
clf = RandomForestClassifier(n_estimators= 100, max_depth=2, random_state=0)
clf.fit(X_train, Y_train)
YPred = clf.predict(X_test)
accuracy_score(Y_test, YPred)
asc = accuracy_score(Y_test, YPred)
mse = mean_squared_error(Y_test, YPred)
rmse = sqrt(mse)
print(asc, mse, rmse)
fit_accuracy = clf.score(X_train, Y_train)
test_accuracy = clf.score(X_test, Y_test)
    
print(f"Train accuracy: {fit_accuracy:0.2%}")
print(f"Test accuracy: {test_accuracy:0.2%}")

0.7314285714285714 0.26857142857142857 0.5182387756347729
Train accuracy: 70.34%
Test accuracy: 73.14%

In [17]:
import pickle
filename = 'model.pkl'
pickle.dump(clf, open(filename, 'wb'))

In [ ]:
#Predict test values
ypred = clf.predict(X_test)

#Print classification report based on the predicted value
from sklearn import metrics
print(metrics.classification_report(ypred,Y_test))

In [ ]:
##Native bayes

In [ ]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.naive_bayes import GaussianNB
clf = MultinomialNB()
clf.fit(X_train, Y_train)
pred = clf.predict(X_test)
accuracy_score(Y_test, pred)
asc = accuracy_score(Y_test, pred)
mse = mean_squared_error(Y_test, pred)
rmse = sqrt(mse)
print(asc, mse, rmse)
fit_accuracy = clf.score(X_train, Y_train)
test_accuracy = clf.score(X_test, Y_test)
    
print(f"Train accuracy: {fit_accuracy:0.2%}")
print(f"Test accuracy: {test_accuracy:0.2%}")

In [ ]:
import numpy as np 
from sklearn import svm

clf2 = svm.SVC()
clf2.fit(X_train,Y_train)
pred = clf2.predict(X_test)
accuracy_score(Y_test, pred)
asc = accuracy_score(Y_test, pred)
mse = mean_squared_error(Y_test, pred)
rmse = sqrt(mse)
print(asc, mse, rmse)
fit_accuracy = clf2.score(X_train, Y_train)
test_accuracy = clf2.score(X_test, Y_test)
    
print(f"Train accuracy: {fit_accuracy:0.2%}")
print(f"Test accuracy: {test_accuracy:0.2%}")

In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import warnings
import pickle

warnings.filterwarnings("ignore")

df=pd.read_csv("data.csv")



Y =df["Dataset"]

df =df.drop("Dataset",axis=1)

df_2 = pd.get_dummies(df, columns=["Gender"], drop_first=False)



X = df_2.values

min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(X)
df = pd.DataFrame(x_scaled)


df.fillna(df.mean(), inplace=True)

df = np.array(df)
Y = Y.astype('int')
df = df.astype('int')


X_train, X_test, Y_train, Y_test = train_test_split(df,Y, test_size=0.30, random_state=42)



clf = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)
clf.fit(X_train, Y_train)



filename = 'model.pkl'
pickle.dump(clf, open(filename, 'wb'))
model=pickle.load(open('model.pkl','rb'))